@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    body {
      background-color: #ffffff; 
      margin-left: 4%;
    }
    .content {
      order: 2;
      height: auto;
      max-width: 80%;
      margin-left: 10%;
    }
    img {
        min-width: 200px;
        width: auto;
        max-width: 350px;
    }
    .products {
      height: auto;
      padding: 5px;
      padding-bottom: 20px;
      
    }
    .next {
      order: 4;
      text-align: right;
      position: relative;
      align-self: auto;
      padding-top: 100px;
    }
    .paragraph {
      order: 5;
      height: auto;
      margin-top: auto;
      max-width: 60%;
      margin-left: 20%;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: #ffffff; /* Yellow */
    }
    .content {
      order: 2;
      max-width: 80%;
      margin-left: 10%;
      padding: 10px;
    }
    img {
    min-width: 200px;
        width: auto;
        max-width: 350px;
  }
  .products {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    padding-bottom: 2%;
  }
}
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
      background-color: #ffffff; /* Blue */
    }
    .content {
      order: 2;
      max-width: 60%;
      margin-left: 20%;
      padding: 15px;
    }
  
  }

  .page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Tablet Styles */

  /* Desktop Styles */

    .page {
    /*  width: 960px; */
      margin: 0 auto;
    }
  

  


.link {
    position: inherit;
    font-size: 1.1em;
    font-weight: bold;
}

a {
  color: #004c91;
    text-decoration: none;
}

a:hover {
    color: #78b9e7;
}

.menu {
  height: 100px;
}

.header {
  height: auto;
  padding: 2%;
}

img {
  max-height: 300px;
  max-width: 300px;
  
}

.next {
  order: 6;
  text-align: right;
  position: relative;
  align-self: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
}

.buttons {
  order: 3;
  padding: 5px;
  margin: 5px;
  max-height: 50px;
}

  button {
  border-radius: 50px;
  background-color: #ffffff;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  }

  button:hover {
    background-color: #78b9e7;
  }

.paragraph {
  order: 5;
  height: auto;
  margin-top: 20px;
  max-width: 60%;
  margin-left: 20%;
}

.products {
  order: 4;
  padding: 5px;
 
}